<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<div>
	  	<h2><%= @list_sended.book_list.name %></h2>
		</br>
		<div style="display: inline-block;">
			<%if !@list_sended.book_list.image_name.blank? %>	
			<%=image_tag @list_sended.book_list.image_name, :size => "90x100", :alt => @list_sended.book_list.name %>
			<%else%>
			<%=image_tag "http://rtes.funeasy.tw/assets/NoImg.png", :size => "100x110", :alt => "無封面" %>
			<%end%>				
		</div>
		<div style="display: inline-block;">
			<%if @type=="selling"%>	
				<p>
			 	價錢:$<%= @list_sended.price %>
			 	</p>
			 	<p>
			    交易地點:
			    <%=showingListAreaAndLocation('selling', @list_sended)%>
			    </p> 
			<%elsif @type=="requesting"%>
				<p>
			 	希望價錢:$<%= @list_sended.prefer_price_from %>~$<%= @list_sended.prefer_price_to %>
			 	</p>
			 	<p>
			    交易地點:
			    <%=showingListAreaAndLocation('requesting', @list_sended)%>			    
			    </p> 
			<%end%>
		</div>		
	</div> 	
  	<div>
  		<a href=<%="http://www.facebook.com/"+@user%>><%= image_tag "https://graph.facebook.com/"+@user+"/picture", :size => "40x40" %></a>
  		<a href='<%=dns_name%>/main/showSellingBook?id=<%=@list_sended.id%>'><%=@comment%></a>
  	</div>
  	<h1 style="font-size: 11px;">如果您不希望再接收通知信件,請刪除您在RTES books的此筆項目,或是進入"<%=link_to "使用者設定", dns_name %>"將此功能取消</h1>
  </body>
</html>