<style>
    .table 
    {   	
        border-collapse: collapse;
        border-spacing: 0;
        display: table;
        /*width: 390px;*/
        /*font-size: 10px;*/
    }
    .table  a:hover
    {   	
		background:none;
		text-decoration: none;		      
    }
    .tr
    {   	
        display: table-row, inline-block; 
    } 
    .td 
    {
    	min-width:90px;
		height:30px;
        /*border-bottom: dotted #B5DAFF;*/
    	color: black;
        display: table-cell;        
    }
</style>
<br>
<%= form_for  :my_requesting_list, :id=>@my_requesting_list.id.to_s() , :method=>:put   , :multipart => true do |f| %>
	<%if @my_requesting_list.errors.any? %>
		<div id="error_explanation">
	    	<h2><%= pluralize(@my_requesting_list.errors.count, "error") %> </h2>
		      <ul>
		      <% @my_requesting_list.errors.each do |key, value| %>
		        <li><%= value %></li>
		      <% end %>
		      </ul>
		</div>
	<%end%>	
<section class="table">
	<div class="tr">
		<div class="td">
			<%if !@my_requesting_list.book_list.image_name.blank? %>	
			<%=image_tag @my_requesting_list.book_list.image_name, :size => "80x100", :alt => @my_requesting_list.book_list.name %><br />
			<%else%>
			<%=image_tag "NoImg.png", :size => "90x100", :alt => "無封面" %><br />
			<%end%>	
		</div>	
	</div>
	<div class="tr">
		<div class="td" style="font-weight: 900; font-size: 18px; width:625px;">
		<%=@my_requesting_list.book_list.name%>
		</div>
	</div>		
	<div class="tr">
		<div class="td">	
	    <%= f.label :希望價格 %>$:<span style="color: red; display: inline">*</span>
	    </div>
	    <div class="td">
	    <%= f.text_field :prefer_price_from, :size =>5 %>
	    到<%= f.text_field :prefer_price_to, :size =>5  %>TWD
		</div>
	</div>
	<div class="tr">	
		<div class="td">
		    <%= f.label :哪類課程用書?%>
		</div>
		<div class="td">
		    <%= f.text_field :course, :size=>15 %>
		</div>
	</div>			
	<div class="tr">	
		<div class="td">
			<%= f.label :接受缺頁? %>
		</div>
		<div class="td">
		  	<%= f.radio_button(:missing, "Y") %>
			<%= f.label  "是" %>
			<%= f.radio_button(:missing, "N") %>
			<%= f.label  "否" %>
		</div>
	</div>				
	<div class="tr">	
		<div class="td">
			<%= f.label :接受裁剪? %>
		</div>
		<div class="td">
		  	<%= f.radio_button(:cutting, "Y") %>
			<%= f.label  "是" %>
			<%= f.radio_button(:cutting, "N") %>
			<%= f.label  "否" %>
		</div>
	</div>			
	<div class="tr">	
		<div class="td">
		  	<%= f.label :接受髒汙? %>
		</div>
		<div class="td">
		  	<%= f.radio_button(:stains, "none") %>
			<%= f.label  "無" %>
			<%= f.radio_button(:stains, "less") %>
			<%= f.label  "少" %>
			<%= f.radio_button(:stains, "mid") %>
			<%= f.label  "中" %>
			<%= f.radio_button(:stains, "mass") %>
			<%= f.label  "多" %>
		</div>
	</div>			
	<div class="tr">	
		<div class="td">
		  	<%= f.label :接受筆記? %>
		</div>
		<div class="td">
		  	<%= f.radio_button(:note, "none") %>
			<%= f.label  "無" %>
			<%= f.radio_button(:note, "less") %>
			<%= f.label  "少" %>
			<%= f.radio_button(:note, "mid") %>
			<%= f.label  "中" %>
			<%= f.radio_button(:note, "mass") %>
			<%= f.label  "多" %>
		</div>
	</div>		
	<!-- implement later
	  <div class="field">
	 	<%= f.label  :書本照片 %>(將會儲存在Facebook相簿裡)<br />
	   	<%= f.file_field :photo_source ,:accept => 'image' %> 
	  </div>
	-->
	<div class="tr">	
		<div class="td">		
			<%= f.label :徵書天數%>:
		</div>
		<div class="td">		
	 		<%=f.select :requesting_days,  options_for_select(1..30, @my_requesting_list.requesting_days), {:include_blank => '請選擇..'}%>
		</div>
	</div>		
	<div class="tr">
		<div class="td">		
			<%= f.label :連絡方式%>:
		</div>
		<div class="td">		
			<%= f.check_box(:email_c) %>
			<%= f.label :email%><div style="font-size: 10px; display: inline">(將會顯示您的e-mail)</div>
			<%= f.check_box(:FB_c) %>
			<%= f.label :FB訊息%>
			<%= f.label :電話%><div style="font-size: 10px; display: inline">(可不填)</div>:
		    <%= f.text_field :phone, :size =>11 %>
		</div>
	</div>	
   	<div class="tr">
		<div class="td">
   		<%= f.label :面交學校%>:
   		</div>	
	    <%if @my_requesting_list.requesting_list_areas.count==0%>
	    <%if User.find_by_id(session[:user_id]).educations.count!=0%> 
	   	<div class="td">
 			<%= select_tag 'area[0]', options_for_select( schoolOptionsId("requesting") , User.find(session[:user_id]).user_config.default_trading_school ), {:prompt => "請選擇.."} %> 
   		<%else%>
   		<div class="td">
 			<%= select_tag 'area[0]', options_for_select( schoolOptionsId("requesting") ), {:prompt => "請選擇.."} %>
   		<%end%>	
   		   	詳細地點:<%= text_field_tag 'location[0]' ,nil, :size=>10 %>     		
   		</div>	
   		<%end%>	
	</div>
	<div id="extraField">
	<%@my_requesting_list.requesting_list_areas.each_with_index do |value, index|%>
		<div class="tr" id="area_block_<%=index%>">
			<script type="text/javascript">
			extra_ip= <%=index+1%>;
			</script>	
			<div class="td">
 			</div>
 			<div class="td">		
			<%= select_tag 'area['+index.to_s+']', options_for_select( schoolOptionsId("requesting") , value.school_list_id ), {:prompt => "請選擇.."} %> 
			詳細地點:<%= text_field_tag 'location['+index.to_s+']', value.location, :size=>10 %>  
			</div>
		</div>
	<%end%>		
  	</div>
 	<div class="tr">
 		<div class="td">
 		</div>	
 		<div class="td">
			<input type="button" onclick="addInput()" name="add" value="新增學校" />
		</div>
		<div class="td">		
			<input type="button" onclick="delInput()" name="add" value="刪除學校" />
		</div>
	</div>
    <div class="tr">
  	  <div class="td">
    	<%= f.submit "送出" %>
      </div>
    </div>
</section>    
<% end %>

<script type="text/javascript">
	if(typeof extra_ip == 'undefined')
		extra_ip = 1;
		
	function addInput() 
	{	
    	$("#extraField").append("<div class='tr' id='area_block_"+
    							extra_ip.toString()+
    							"'><div class='td'></div><div class='td'>"+
								"<select id='area_"+
								extra_ip.toString()+ 
								"' name='area["+ 
								extra_ip.toString()+
								"]'>"+
								document.getElementById('area_0').innerHTML+
								"</select>"+														   
								" 詳細地點:<input id='location_"+
								extra_ip.toString()+
								"' name='location["+
								extra_ip.toString()+ 
								"]' size='10' type='text' /></div>"+
								"</div>");												   
		extra_ip++;
	}
	function delInput()
	{
		if(extra_ip!=1)
		{
			extra_ip--;
			$("#area_block_"+extra_ip.toString()).remove();
		}	
	}
</script>
